extends ./base.jade

block head
  link(rel='stylesheet', type='text/css', href='/static/css/select.css')

block body
  div.center-outer
    div.center-inner
      form.shadow(action="/cgraph", method="GET")

        input(type="hidden", name="user", value="#{user}")
        input(type="hidden", name="repo", value="#{repo}")
        
        h4 #{user}/#{repo}

        if files.length <= 0
          .problem No C files found

        #files
          if files.length > 0
            each file in files
              label.file.mono
                input(type="checkbox", name="#{file}", checked)
                span #{file}

        button(type='submit') Run
